body { 
	background-image:url("https://d3h5jhobc20ump.cloudfront.net/baaea3255487f3b82e6c343dfd42e5a9.jpg");
	background-color: #ebfafa; 
 }

 h1 { 
 		font-size:26px;
 		color:#4d94ff; 
 		font-family:Helvetica Neue ; 
 	}