
<h1><center>SHORTEN. SHARE. MEASURE.</center></h1>
<p><center>Join Bitly, the world's leading link management platform.<center></p>

<%= @error if @error %>
<form action="/urls" method="post">

	<input type ="text" name="long_url"> 
	<input type="submit" value="SHORTEN">
</form>

<table style= "border:solid 2px black;">
	<tr> 
		<th>Long url</th>
		<th>Short url</th>
	</tr>

<% @url.each do |x| %> 
	<tr> 
		<td><%= x.long_url%></td>
		<td><a href="/<%=x.short_url%>" target = "_blank">http://bit.ly/<%= x.short_url%></a></td> 
	</tr>
		<%end%> 
</table>

